body {
  padding-top: 2%;
}

.starter-template {
  padding: 2%;
  text-align: center;
}

a,a:hover,a:focus {
  color: black;
  text-decoration: underline;
}

/* table coloring for better readability */
tr:nth-child(even) {background: #FFF}
tr:nth-child(odd) {background: #EEE}
tr:first-child {background: #CCC}

/* croni bootstrap changes for build log modal */
.modal-body {
  text-align: left;
  padding: 0px;
}

.modal-dialog {
   width: 85%;
}

pre {
  background-color: black;
  color: white;
  margin: 0px;
}
